/* General */

.container{
  display: flex;
  flex-wrap: wrap;
}

a{
  text-decoration: none;
}

.item{
  text-align: center;
  flex: 1;
  margin: auto;
}

.section-title h2{
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 10%;
}

.column{
  flex-direction: column;
}

.row{
  flex-direction: row;
}

/*  Body */

body{
  margin: 0;

  text-align: center;
  color: white;

  font-family: "Jersey 25", sans-serif;

  font-size: 20px
}

/* Header */

.title{
  color: #171615;
  width: 100%;

  background-image: url(https://images.steamusercontent.com/ugc/2310974141604980016/B4EF3A7A2D1772DE26B1A6F51CE33A04FD8BB917/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false);

  padding-top: 5%;
  padding-bottom: 5%;
}

.navigation{
  background-color: #171615;

  box-shadow: 0px 10px #131212a4;

  flex: auto;
  padding-top: 3%;
  padding-bottom: 3%;

  z-index: 2;
}

.navigation ul{
  list-style-type: none;

  display: block;
}

.navigation li{
  display: inline-block;
  width: 33%;
}

.navigation a{
  color: white;
}

/* profile - Level02 */

#Level02{

  padding-top: 10%;
  padding-bottom: 10%;

  background: url(../imgs/castle_field1.jpg) fixed;
  background-color: #fff;

  z-index: 1;
}

#Level02 .section-title{
  text-shadow: 0 5px #131212a4
}

.profile{
  justify-content: space-around;

  margin-left: 5%;
  margin-right: 5%;
}

#lvl02-atributtes{
  flex: 3;
  text-align: center;

  border-style: solid;
  border-width: 10px ;
  border-color: #171615;

  
  background-color: #131212;
}

#lvl02-atributtes div{
  width: 100%;
}


.attribute {
  margin-bottom: 15px;

  text-align: left;

  width: 100%;

  margin-left: 5%;
  margin-right: 5%;
}

.rating-bar {
  width: 100%;
  height: 20px;

  background-color: rgba(255, 255, 255, 0.2);

  border: 2px solid #171615;

  margin-top: 5px;
}

.fill {
  height: 100%;
  background: linear-gradient(to right, #ffc107, #ff5722);

}

#lvl02-image{
  flex: 3;
  justify-content: center;
  margin-left: 2%;
  margin-right: 2%;

  border-style: solid;
  border-width: 10px ;
  border-color: #171615;
}

#lvl02-image img{
  width: 100%;
  max-width: 1000px;
  height: auto;

}

#lvl02-description{
  flex: 4;
  flex-wrap: wrap;
  text-align: center;

  color: white;

  border-style: solid;
  border-width: 10px ;
  border-color: #171615;

  
  background-color: #131212;
}

#lvl02-description div{
  width: 100%;
}

#lvl02-description div span{
  margin-left: 5%;
}

#lvl02-description .container .row div{
  margin-left: 5%;
  margin-right: 5%;

  text-align: justify;
}

#lvl02-description-character-quote{
  margin-left: 5%;
  margin-right: 5%;

  text-align: justify;
}

/* quests - Level03 */

#Level03{
  width: 100%; 
  padding-top: 10%;
  padding-bottom: 10%;

  align-items: center;

  background-color: #171615;

  color: white;

  z-index: 2;
}

#Level03 .map-container {
  width: 100%;
  max-width: 1000px;
  margin-bottom: 2%;

  margin-left: auto;
  margin-right: auto;
}

#Level03 .map-container img {
  width: 100%;
  height: auto;
}

#Level03 .info-container {
  margin-left: auto;
  margin-right: auto;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2%;
  width: 100%;

  max-width: 80%;
  flex-wrap: wrap;
}

#Level03 .academic,
#Level03 .profesional {
  flex: 1;

  min-width: 300px;
  background-color: #ccac70;

  border-style: dashed;
  border-width: 5px ;
  border-color: #371907;
}

#Level03 .academic h3,
#Level03 .profesional h3 {

  color: #171615;

  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  border-bottom: 5px dashed #371907;

  padding-bottom: 2%;
}

#Level03 .academic .entry,
#Level03 .profesional .entry {
  margin-bottom: 1.25rem;
}

#Level03 .entry h4 {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
  color: #333;
}

#Level03 .entry p {
  margin: 0;
  font-size: 1rem;
  color: #666;
}

/* skill tree - Level04 */

#Level04{
  width: 100%; 
  padding-top: 10%;
  padding-bottom: 10%;

  background: url(../imgs/galaxy1.webp) fixed;
}

#Level04 .section-title{
  color: white;
  text-shadow: 0 5px #e9dbdba4;
}

.skill-tree-wrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
  
  flex-wrap: wrap;

  margin: 0 auto;

  color: white;

  text-align: center;
}

.skill-category {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;

  border-style: solid;
  border-width: 10px ;
  border-color: white;

  padding: 20px;

  box-shadow: 0 0 10px white;
}
#skill-tree1{
  background-color: rgba(120, 10, 87, 0.5);
}

#skill-tree2{
  background-color: rgba(28, 5, 90, 0.5); 
}

#skill-tree3{
  background-color: rgba(5, 49, 90, 0.5); 
}

.skill-node {
  border: 2px solid white;
  padding: 10px;


  width: fit-content;
  min-width: 150px;
  box-shadow: 0 0 5px white;
}

.skill-subbranch {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

/* footer */

footer{
  background-color: #171615;

  color: white;

  padding-top: 5%;
  padding-bottom: 5%;
}

#footer-div{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

footer a{
  color: white;
}